<div id="musicMain" ng-controller="HomeController">

<!--   <div class="col-md-12" id="sideBar2">
    <center>
    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="#"><i class="fa fa-instagram-square fa-2x"></i></a>
    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
    <a href="#"><i class="fa fa-spotify fa-2x"></i></a>
    <a href="#"><i class="fa fa-soundcloud fa-2x"></i></a>
    </center>
  </div> -->
  <div id="main" class="col-md-12">

    <div id="banner">
      <div class="col-md-8">
        <a id="bannerA" href="http://localhost:8000/#!/main"><p id="bannerText2">COSTELLO</p></a>
      </div>
      <div class="col-md-4">
        <div>
          <ul id="bannerLinks"class="nav navbar-nav">
            <li><a class="bannerLinks" href="http://www.costellobandok.bandcamp.com">Bandcamp</a></li>
            <!-- <li><a class="bannerLinks" href="#">Shows</a></li> -->
            <!-- <li><a class="bannerLinks" href="#">News</a></li> -->
            <li><a class="bannerLinks" href="http://localhost:8000/#!/about">About</a></li>
            <li><a class="bannerLinks" href="#">Images</a></li>
            <li><a class="bannerLinks" >Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="color:white;">
    <center><h2>Contact:</h2></center>
    <div class="col-md-2">
    </div>
    <div id="contact" class="col-md-8">
      <div class="col-md-6">
        <img id="contactImg" src="../img/ccFgarage2.JPG">
      </div>
      <div id="contactContent" class="col-md-2">
        Booking: <br>
        costellobandok@gmail.com<br><br>
        Pizza: <br>
        405-623-4545 <br><br>
        DJ: <br>
        405-803-4698
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div id="footer" class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
      <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-instagram-square fa-2x"></i></a> -->
      <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
      <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
    </div>
  </div>
</div>