<div id="musicBackground" ng-controller="HomeController">
  <div id="musicTitleBar">
        <p id="musicTitle2"><span style="letter-spacing:0;"></span></p>
  </div>

  <div id="sideBar">
    <center>
    <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-3x"></i></a><br>
    <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-3x"></i></a><br>
    <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a><br> -->
    <a href="https://open.spotify.com/artist/4wJW3tvY1lVxNxCh7J5T8Y"><i class="fa fa-spotify fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-soundcloud fa-3x"></i></a><br> -->
    </center>
  </div>
  <div id="album" class="container">
    <img id="musicAlbum" src="../img/conscioustrip.png">
    <div class="mainLinks"><a class="links" href="http://www.costellobandok.bandcamp.com">Bandcamp</a><a class="links" href="http://costellobandok.com/#!/about">About</a><a class="links" href="http://costellobandok.com/#!/contact">Contact</a></div>
  </div>


  <div id="aboutTitle" class="col-md-12 col-sm-12">
      <h1>About the Band</h1>
  </div>
  <div id="mainBody" class="col-md-12 col-sm-12">
    <div class="col-md-6 col-sm-6">
      <img id="aboutImg" src="../img/about.jpg">
    </div>
    <div id="about" class="col-md-4 col-sm-4">
      <p>
        Costello is a psych/blues/garage rock trio based out of Norman, OK. Their debut album, "Manifest", was recorded out of Blackwatch and Bell Labs Studios by Chad Copelin and Sam Welchel. Chad Copelin produced the album. Dan Millice of Engine Room Audio in NYC, New York mastered the album.
      </p><br>
      <p>
        Clare Costello - vocals and guitar<br>
        Felix Rodriguez - bass<br>
        Jason Scott - drums
      </p>
    </div>
    <div class="col-md-2 col-sm-2">
    </div>
  </div>

</div>
<div id="contactTitle" class="col-md-12 col-sm-12">
    <h1>Contact</h1>
</div>
<div id="contactBody" class="col-md-12" style="color:white;">
  <div class="col-md-2">
  </div>
  <div id="contact" class="col-md-8">
    <div class="col-md-6">
      <img id="contactImg" src="../img/ccFgarage2.jpg">
    </div>
    <div id="contactContent" class="col-md-6">
      Booking: <br>
      costellobandok@gmail.com<br><br>
      Recording/Production: <br>
      info@blackwatchstudios.com<br><br>
      Website: <br>
      riley.m.joseph1@gmail.com <br><br>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>

  <div id="footer" class="col-md-12 navbar navbar-inverse navbar-fixed-bottom">
    <div class="col-md-3 col-sm-3 col-xs-3" id="footerLeft">
      <a style="color:#323232;" href="http://www.rileyjoseph.co">
        Website by Riley Joseph
      </a>
    </div>
    <div id="copywrite" style="color:#bfbfbf" class="col-md-6 col-sm-6 col-xs-6">
      <center>Copyright &copy; Costello 2015</center>
    </div>
    <div class="col-md-3">
      <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
      <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
    </div>
  </div>
